.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 5%;
}
.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin-bottom: 10px;
}
